
.mainDiv{background:#FFF;width:1068px;;margin:0px auto;overflow:hidden;}

.header{overflow:hidden;background:#594e4e}

.header1{overflow:hidden;padding:10px;}

.logo-text-outside-wrapper{float:left;width:100%;}

.logo-text-inside-wrapper{float:left;}

.image1{float:left;margin-right:15px;margin-bottom:40px;}

.textWrapper{float:left;}	

.main-navigation-wrapper{width:100%;float:left;}

.sub-navigation-wrapper{float:left;width:716px;}

.menu-list{float:left;margin-right:6px;margin-top:9px;width:392px;}

.search-bar input{float:left;margin-right:10px;margin-top:13px;width:223px;padding:5px;}

.image2{float:right;width:63px;border-left:1px solid #594e4e;}

.header2{overflow:hidden;padding:10px;background:#a49191;}

.imageDiv{margin-left:17px;position:relative;}

.slider{float:left;position:absolute;top:31px;left:15px;}

.left-slider{float:left;margin-right:15px;}

.right-slider{float:left;}

.pink-div{top:120px;position:absolute;opacity:0.68}

.main-body-wrapper{padding:20px;background:white;width:1009px;}

.body-inside-wrapper{overflow:hidden;width:100%;}

.body-top-wrapper{width:100%;overflow:hidden;}

.body-top-left-wrapper{width:534px;float:left;}

.body-top-right-wrapper{width:340px;float:right;}

.right-side{float:right;}

.body-middle1-wrapper{width:100%;overflow:hidden;margin-bottom:45px;}

.tab-out-wrapper{width:100%;overflow:hidden;margin-top:85px;}

.tab-in-wrapper{width:574px;overflow:hidden;line-height:44px;text-align:center;color:white;}

.tab1{float:left;width:190px;margin-right:2px;background:#3d8896;height:44px;}

.tab2{float:left;width:190px;margin-right:2px;background:#3d8896;height:44px;}

.tab3{float:left;width:190px;background:#3d8896;height:44px;}

.body-middle2-wrapper{width:100%;overflow:hidden;}

.body-middle2-inside-wrapper{width:100%;overflow:hidden;}

.left-wrapper{width:290px;margin-right:39px;float:left;}

.center-wrapper{width:330px;margin-right:35px;float:left;}

.right-wrapper{width:315px;float:left;}

.body-bottom-wrapper{width:100%;}

.style-line{width:1000px;margin-top:28px;}

.footer{width:100%;overflow:hidden;}

.footer-top-wrapper{width:100%;overflow:hidden;border-top:1px solid #b2b2b2;padding-left:55px;padding-right:29px;background:url(images/back.png);}

.footer-bottom-wrapper{width:100%;overflow:hidden;}

.footer-top{font-family:Arial;margin-top:40px;border-bottom:3px solid #3794a5;margin-bottom:20px;width:970px;}

.footer-middle{width:975px;overflow:hidden;}

.apple{width:225px;float:left;margin-right:25px;}

.ball{width:225px;float:left;margin-right:25px;}

.cat{width:225px;float:left;margin-right:25px;}

.dog{width:225px;float:left;}

.apple-left{width:50px;float:left;}
.apple-right{width:160px;float:right;}

.ball-left{width:50px;float:left;}
.ball-right{width:160px;float:right;}

.cat-left{width:50px;float:left;}
.cat-right{width:138px;float:right;}

.dog-left{width:50px;float:left;}
.dog-right{width:140px;float:right;}

.footer-bottom{width:100%;overflow:hidden;border-bottom:1px solid #dcdcdc;}
.footer-bottom-inside{width:261px;float:left;background:white;margin-left:27px;font-size:12px;line-height:32px;}

.last-footer-wrapper{background:url(Images/lastpic.png);overflow:hidden;width:100%;}
.last-footer-top-wrapper{width:100%;overflow:hidden;}
.last-footer-top-left-wrapper{float:left;width:168px;margin-right:14px;margin-left:40px;}
.last-footer-top-right-wrapper{float:right;width:791px;}

.last-footer-bottom-right-wrapper{float: right;font-size: 11px;margin-right: 58px;}