

.text1{font-family:"Myriad Pro";font-size:36px;font-weight:normal;color:#FFF;}

.text2{font-family:"Myriad Pro";font-size:12px;font-weight:normal;color:#FFF;}



.top{font-family:Arial;font-size:23px;margin-top:25px;margin-bottom:12px;}
.middle{font-family:Arial;font-size:13px;margin-bottom:20px;}
.bottom{border-radius:5px;font-family:Arial;font-size:11px;width:202px;height:24px;line-height:24px;background:#378796;color:white;text-align:center;}

.topheader1{font-family:Arial;font-size:23px;margin-top:25px;margin-bottom:12px;}
.content1{font-family:Arial;font-size:13px;margin-bottom:20px;}
.bottomfooter1{width:69px;}



.apple{font-family:Arial;font-size:12px;}
.ball{font-family:Arial;font-size:12px;}
.cat{font-family:Arial;font-size:12px;}
.dog{font-family:Arial;font-size:12px;}



.mid-border{height:20px;border:1px dotted;color:#bfbfbf;margin-top:6px;}



